{% extends 'gitgraphql/main.html' %}
{% block content %}
<div class="header-bar" style="text-align: center;">
    <h3>Github Repository Request Form</h3>
</div>

<div>
    <hr color="black">
    <form action="" method="post" style="margin-top: 5px;display: flex;justify-content: center;">
        {% csrf_token %}
        <h2 style="color: #000;font-size: 20px;">{{form}}</h2>
        <input class="button" type="submit" value="Get repositories">
    </form>
</div>
<!--<div class="response">
        <h2 style="color: #fff;">{{name}}</h2>
        {% for item in response%}
                <h4 style="color: #ffa;"><ol><b><i>{{item}}</i></b></ol></h4>

        {% endfor %}
</div>
-->
{% endblock content %}